.nextra-body.full {
  margin: 0 auto;
}

code {
  @apply text-sm;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

.nextra-toc-meta {
  display: none;
}

code {
  font-family: "Menlo", PT Mono,Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace !important;
}

video {
  /* border: 2px solid #262626;
  border-radius: 10px; */
  width: 100%;
  margin: 2em 0;
  /* padding: 0 2em;
  background: black; */
}

.dark p, .dark ol, .dark li {
  color: #e3e3e3;
}

iframe {
  border-radius: 7px;
  margin: 2em 0;
}

p > strong {
 color: #FF42A1;
}

.nextra-sidebar-menu {
  box-shadow: none !important;
}

.dark .nextra-sidebar-menu > div {
  background: black !important;
}

.light .nextra-sidebar-menu > div {
  background: white !important;
}

a > h1 {
  font-weight: 500;
}